<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tomclaw.molecus">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".main.Molecus">
        <activity
            android:name=".main.MainActivity_"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.LoginActivity_"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".main.SubscribersActivity_"
            android:label="@string/title_activity_subscribers"
            android:theme="@style/AppTheme.NoActionBar"/>
        <provider
            android:name=".core.GlobalProvider"
            android:authorities="com.tomclaw.molecus.core.GlobalProvider"
            android:exported="false"
            android:grantUriPermissions="true" />
    </application>

</manifest>
